.header1 {
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:22px;
font-style:normal;
text-align:left;
color:#333333
}

.header2 {
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:16px;
font-style:normal;
text-align:left;
color:#333333
}

.header3 {
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:16px;
font-style:normal;
font-weight:bold;
text-align:left;
color:#000000
}

/* with green font*/
.header4 {
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:16px;
font-style:normal;
font-weight:bold;
text-align:left;
color:#477347
}

.menu1 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	text-align:center;
	color:#333333;
	font-weight: normal;
	letter-spacing: 2px;
}

.menu2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-align:center;
	color:#333333;
	font-weight: normal;	
}

.text {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:normal;
	text-align:justify;
	color:#000000;
	font-weight: normal;
}

.text2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:normal;
	text-align:justify;
	color:#000000;
	font-weight: normal;
	word-spacing: normal;
}

.smallText {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	text-align:left;
	color:#000000;
	font-weight: normal;
	}

.table {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-align:center;
	color:#000000;
	font-weight: normal;
}

.table2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:normal;
	text-align:center;
	color:#000000;
	font-weight:bold;

}


.index {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	text-align:left;
	color:#000000;
	font-weight:normal;
	
}

.index2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:normal;
	text-align:right;
	color:#000000;
	font-weight:bold
	
}


.update {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	text-align:right;
	color:#666666;
	font-weight: normal;
	
}
.image {
	margin: 2px;
	border: 2px double #6F6F6F;
}

.searchCrits {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:italic;
	text-align:center;
	color:red;
	font-weight: normal;
    width:60px;
	}

.searchCritsSmall {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:italic;
	text-align:center;
	color:red;
	font-weight: normal;
    width:50px;
	}

.imagetitle {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	text-align:center;
	color:#000000;
	font-weight: normal;
	}

a:link {
	color: #000066;
	text-decoration: none;
	
}
a:visited {
	text-decoration: none;
	color: #3366CC;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
	font-weight:normal
}
a:active {
	text-decoration: none;
	color: #FF0000;
}
.Style5 {color: #FF0000}

BODY {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left:10px;
	margin-right:40px;
	margin-top:10px;
	margin-bottom:40px;
}
.small_mavsulasj {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: normal;
	text-align: inherit;
	line-height: normal;
}

.cellSmall{
    width:130px;
}

.inputSmall {
    width:80px;
}

.detailCell{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #194719;
    
}